.Comment {
    list-style: none;
    border: 1px solid black;
    border-radius: 25px;
    margin: 3vh;
    padding: 2vh;
}

.Comment > p, .Comment > h3 {
    align-self: center;
    max-width: 40vw;
}