* {
  padding-inline-start: 0;
}

.App {
  text-align: center;
}

button {
  margin: 2vh auto;
  padding: 1vh 2vw;
  background-color: rgb(20, 120, 219);
  border: none;
  color: white;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color:  rgb(19, 106, 193)
}

